*{
    margin: 0;
    box-sizing: border-box;
}

@page {
    size: 1920px 9289px; /* largura x altura */
    margin: 20px; /* margens em pixels */
}

body{
    background-image: url(./Landing\ page.png);
}

