*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.items{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}